img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bg-app {
  background-color: #800000 !important;
}

.btn-app {
  color: #fff;
  background-color: #800000;
  border-color: #800000;
}

.btn-app:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.text-app {
  color: #800000 !important;
}
